body {
    background-color: aqua;
}

.box {
    width: 100px;
    height: 100px;
    border: brown;
    border-width: 2px;
    border-style: solid;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

#rook {
    position: absolute;
}

#rook2 {
    position: absolute;
}

img {
    height: 90px;
    width: 90px;
    z-index: 8;
    background-color: none;
}

.box2 {
    height: 100px;
    background-color: white;
    width: 10%;
    border-style: dotted;
    border-color: gray;
}

#kenshin {
    position: absolute;
}

.col-lg-6 {
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.ws {
    background: bisque;
}

.bs {
    background: brown;
}

#mydiv {
    position: absolute;
}

/*small chessboard*/
#trialRook {
    max-width: 60%;
    max-height: 40px;
    margin: auto;
    display: block;
}

#move {
    position: absolute;
}