body {
    background-color: aqua;
}

.box {
    background-color: blue;
    float: left;
}

h1 {
    background-color: blue;
    width: 2%;
}

#kDiv {
    position: absolute;
}

#kDivheader {
    cursor: move;
    background-color: blue;
    width: 30px;
    height: 39px;
}

#qDiv {
    position: absolute;
}

#qDivheader {
    cursor: move;
    background-color: blue;
    width: 30px;
    height: 39px;
}

#div1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}